<%= link_to "Zurück", recipe_path(@recipe) %>
<h1>Rezept anpassen</h1>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_with(model: @recipe) do |f| %>
      <%= f.label "Titel" %>
      <%= f.text_field :title, class: "form-control" %>

      <%= f.label "Autor" %>
      <%= f.text_field :author, class: "form-control" %>
      <%= f.label "Beschreibung" %>

      <%= f.text_area :description, size: "60x10",
        class: "form-control" %>
      <%= render "show_photo"%>
      <%= f.label "Foto ändern?" %>

      <%= f.file_field :photo, direct_upload: true,
        class: "form-control" %>

      <%= f.submit "Änderungen speichern", 
        class: "btn btn-primary" %>
    <% end %>
    <%= link_to "Abbrechen", recipe_path(@recipe), 
      class: "btn btn-secondary w-100 mb-3" %>
  </div>
</div>

<hr>
<%= link_to "Zurück", recipe_path(@recipe) %>