<%= link_to "Zurück", recipe_path(@recipe) %>
<h1>Rezept anpassen</h1>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_with(model: @recipe) do |f| %>
      <%= f.label "Titel" %>
      <%= f.text_field :title %>

      <%= f.label "Autor" %>
      <%= f.text_field :author %>
      <br>
      <%= f.label "Beschreibung" %>
      <br>
      <%= f.text_area :description, size: "60x10" %>
      <%= render "show_photo" %>
      <br>
      <%= f.label "Foto ändern?" %>
      <br>
      <%= f.file_field :photo, direct_upload: true %>

      <%= f.submit "Änderungen speichern", 
        class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>

<hr>
<%= link_to "Zurück", recipe_path(@recipe) %>