<%= link_to "Zur端ck", recipes_path %>
<h1>Rezept hinzuf端gen</h1>

<%= form_with model: @recipe do |f| %>
  <%= f.label "Titel" %>
  <%= f.text_field :title %>

  <%= f.label "Autor" %>
  <%= f.text_field :author %>
  <br>
  <%= f.label "Beschreibung" %>
  <br>
  <%= f.text_area :description, size: "60x10" %>
  <br>
  <%= f.file_field :photo, direct_upload: true %>

  <%= f.submit "Rezept hinzuf端gen", 
    class: "btn btn-secondary" %>
<% end %>

<hr>
<%= link_to "Zur端ck", recipes_path %>