<%= link_to "Zurück", root_path %>
<h1><%= @recipe.title %></h1>
<p>Autor: <%= @recipe.author %></p>

<%= link_to "Rezept anpassen", edit_recipe_path(@recipe),
  class: "btn btn-secondary" %>

<div>
  <h2>Beschreibung</h2>
  <p><%= @recipe.description %></p>
  <p><%= render "show_photo" %></p>
  
  <%= link_to "Rezept löschen", recipe_path(@recipe),
  data: { "turbo-method": :delete,
    turbo_confirm: "Sicher? #{@recipe.title} unwiederruflich löschen" },
    class: "btn btn-danger" %>
</div>
<hr>
<%= link_to "Zurück", root_path %>