<%= link_to "Zurück", root_path %>
<h1><%= @recipe.title %></h1>
<p>Autor: <%= @recipe.author %></p>
<button type="button">
  <%= link_to "Rezept anpassen", edit_recipe_path(@recipe) %>
</button>

<h2>Beschreibung</h2>
<p><%= @recipe.description %></p>
<%= render "show_photo" %>
<hr>
<%= link_to "Zurück", root_path %>