<%= link_to "Zurück", root_path %>
<h1><%= @recipe.title %></h1>
<p>Autor: <%= @recipe.author %></p>
<button type="button">
  <%= link_to "Rezept anpassen", edit_recipe_path(@recipe) %>
</button>

<h2>Beschreibung</h2>
<p><%= @recipe.description %></p>
<p><%= render "show_photo" %></p>
<button type="button">
  <%= link_to "Rezept löschen", recipe_path(@recipe),
  data: { "turbo-method": :delete,
    turbo_confirm: "Sicher? #{@recipe.title} unwiederruflich löschen" } %>
</button>
<hr>
<%= link_to "Zurück", root_path %>