<%= turbo_frame_tag :reviews do %>

<div class="row">
    <%= form_with(model: [@recipe, @review] ) do |f| %>

      <% if @review.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@review.errors.count, "Fehler") %> beim speichern dieser Bewertung:</h2>
          <ul>
          <% @review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
        <%= link_to "Bewertung anzeigen", recipe_path(@recipe), class: "btn btn-secondary" %>
      <% else %>

      <div class="col-xs-5 col-md-6 offset-md-2">
        <%= f.label :title, "Rezept bewerten" %>
        <%= f.select :rating, (1..5).to_a, 
          label: "1 - 5", class: "form-control" %>

        <%= f.submit "Bewertung abgeben", class: "btn btn-primary" %>
        <%= link_to "Abbrechen", recipe_path(@recipe), class: "btn btn-secondary w-100" %>
        <% end %>
      </div>
    <% end %>
</div>

<% end %>